In [1]:
import tensorflow as tf

In [2]:
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Concatenate,Input,Flatten,Dense,Embedding
from tensorflow.keras.optimizers import SGD,Adam
from sklearn.utils import shuffle

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('/Users/akashzamnani/practise/DeepLearning2.0/movie-recom/ratings.csv')

In [4]:
df.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [5]:
#creating new ids which are sequential, ie start from 0 and end at n-1
df.userId = pd.Categorical(df.userId)
df['new_user_id'] = df.userId.cat.codes

In [6]:
df.movieId = pd.Categorical(df.movieId)
df['new_movie_id'] = df.movieId.cat.codes

In [17]:
df

          userId movieId  rating   timestamp  new_user_id  new_movie_id
0              1       2     3.5  1112486027            0             1
1              1      29     3.5  1112484676            0            28
2              1      32     3.5  1112484819            0            31
3              1      47     3.5  1112484727            0            46
4              1      50     3.5  1112484580            0            49
...          ...     ...     ...         ...          ...           ...
20000258  138493   68954     4.5  1258126920       138492         13754
20000259  138493   69526     4.5  1259865108       138492         13862
20000260  138493   69644     3.0  1260209457       138492         13875
20000261  138493   70286     5.0  1258126944       138492         13993
20000262  138493   71619     2.5  1255811136       138492         14277

[20000263 rows x 6 columns]

In [7]:
df.head()

  userId movieId  rating   timestamp  new_user_id  new_movie_id
0      1       2     3.5  1112486027            0             1
1      1      29     3.5  1112484676            0            28
2      1      32     3.5  1112484819            0            31
3      1      47     3.5  1112484727            0            46
4      1      50     3.5  1112484580            0            49

In [8]:
user_ids = df['new_user_id'].values
movie_ids = df['new_movie_id'].values
ratings = df['rating'].values

In [9]:
m = len(set(movie_ids))
n = len(set(user_ids))
#getting number pf users and no of movies
k =10
# k is embedding dim

In [19]:
#neural network

u = Input(shape=(1,))

m = Input(shape=(1,))

u_emb = Embedding(n,k)(u)
m_emb = Embedding(m,k)(m)

u_emb = Flatten()(u_emb)
m_emb = Flatten()(m_emb)

x = Concatenate()([u_emb,m_emb])

x = Dense(1024,activation='relu')(x)

x = Dense(1)(x)

avg_ratings =

ValueError: Invalid dtype: KerasTensor

In [11]:
model= Model(inputx = [u,m],outputs = x)
mode.compile(loss= 'mse', optimizer = SGD(lr=.8, momentum=.9))

NameError: name 'x' is not defined

In [18]:
user_ids,movie_ids,ratings = shuffle(user_ids,movie_ids,ratings)
Ntrain = int(.8 *len(ratings))
train_user = user_ids[:Ntrain]
train_movie = movie_ids[:Ntrain]
train_ratings = ratings[:Ntrain]

test_user = user_ids[Ntrain:]
test_movie = movie_ids[Ntrain:]
test_ratings = ratings[Ntrain:]

NameError: name 'user_ratings' is not defined

In [20]:
avg_rating = train_ratings.mean()
train_ratings = train_ratings-avg_rating
test_ratings = test_ratings - avg_rating

NameError: name 'test_ratings' is not defined

In [ ]:
r = model.fit(
    x=[train_user,train_movie],
    y = train_ratings,
    epochs= 25,
    validation_data = ([test_user,test_movie],test_ratings),
    batch_size = 1024,
    verbose = 2
)